@import './files-list.scss';

.home-form{
    margin: 10px;
}

.home{
    &__header-wrapper{
        text-align: center;
    }
    &__upload-section{
        padding: 20px;
        text-align: center;
    }

    &__upload-section{
        padding: 20px;
        text-align: center;
    }
}