$max-width: 1000px;

.sign-up-wrapper {
  @media only screen and (max-width: $max-width) {
    width: 90%;
    position: unset;
    max-width: none;
    margin: 5%;
    transform: none;
    left: none;
    right: none;
    font-size: 40px;
  }
  & input{
    @media only screen and (max-width: $max-width) {
      font-size: 40px;
    }
  }

  & button{
    @media only screen and (max-width: $max-width) {
      width: 100%;
    }
  }
}
