$form-min-width: 300px;

.sign-up-section {
  flex-grow: 1;
}

.sign-up-wrapper {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-bottom: 50px;
  transform: translateX(-50%);
  background-color: rgba(230, 230, 230, 0.26);
  border-radius: 1em;
  padding: 10px;
  min-width: $form-min-width;
  max-width: 700px;
  width: 70%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: slide 1s ease;
}

.sign-up-form {
  &__header {
    font-size: 50px;
    color: darkgrey;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}

@keyframes slide {
  from{
    top: 0;
  } 
  to{
    top: 50px;
  }
}