$form-min-width: 300px;

.signin-section {
  flex-grow: 1;
}

.signin-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(230, 230, 230, 0.26);
  border-radius: 1em;
  padding: 10px;
  min-width: $form-min-width;
  max-width: 700px;
  width: 70%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: fall 1s ease;
}

.signin-form {
  max-width: 400px;
  margin: auto;
  &__header {
    font-size: 50px;
    color: darkgrey;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}

.modal {
  display: inherit;
  &--success {
  }
  &--error {
  }
}

@keyframes fall {
  from {
    top: 30%;
  }
  to {
    top: 50%;
  }
}
